<center>
<h1>Customers Detail</h1>
<h2><%= @customer.name %></h2>
<h2><%= @customer.phone %></h2>
<h2><%= @customer.email %></h2>
<h2><%= @customer.address %></h2>

<h1>order Detail</h1>
<h2><%= @order.Order_Number %></h2>
<h2><%= @order.Date_of_Order %></h2>
<h2><%= @order.Order_Status %></h2>
<h2><%= @order.Billing_Address %></h2>
<h2><%= @order.Shipping_Address %></h2>

<h1>product Detail</h1>
<h2><%= @product.sku %></h2>
<h2><%= @product.mrp %></h2>
<h2><%= @product.quantity %></h2>
<h2><%= @product.discount %></h2>
<h2><%= @product.net_Price %></h2>

<h1>Addresses Detail</h1>
<h2><%= @address.name %></h2>
<h2><%= @address.phone %></h2>
<h2><%= @address.address_line1 %></h2>
<h2><%= @address.address_line2 %></h2>
<h2><%= @address.city %></h2>
<h2><%= @address.state %></h2>
<h2><%= @address.country %></h2>
<h2><%= @address.pin %></h2>
</center>