<h1>order Detail</h1>
<h2><%= @order.Order_Number %></h2>
<h2><%= @order.Date_of_Order %></h2>
<h2><%= @order.Order_Status %></h2>
<h2><%= @order.Billing_Address %></h2>
<h2><%= @order.Shipping_Address %></h2>

